.app-header {
  background-color: #242e2c; /* Verde grisáceo oscuro */
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f0f0f0; /* Color claro para el texto */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  max-width: 1200px;
}

.header-content h1 {
  font-family: 'Courier New', Courier, monospace; /* Fuente monoespaciada */
  font-size: 2rem;
  margin: 0;
  color: #f0f0f0; /* Color claro para el título */
}

.logo {
  width: 30%;
  height: auto;
  max-width: 150px;
}

.menu {
  margin-top: 15px;
  width: 100%;
  overflow-x: auto;
}

.button-slider {
  display: flex;
  gap: 10px;
  padding: 10px 5px;
}

.button-slider a {
  flex: none; /* Evita que los enlaces se expandan */
}

.menu button {
  background-color: #b59c8f; /* Beige pastel para el fondo del botón */
  border: none;
  color: #ffffff; 
  padding: 10px 20px;
  text-align: center;
  font-size: 1.19rem;
  cursor: pointer;
  border-radius: 50px; /* Bordes redondeados */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transición suave */
}

.menu button:hover {
  background-color: #d0b89d; /* Gris claro en hover */
}

.menu button:active {
  transform: scale(0.95); /* Efecto de presionar */
}
